.example-form {
    display: flex;
    flex-direction: column;
}

.row {
  display: flex;
}

.reduced {
  width: 30%;
}

.auto-fit {
  flex: auto;
}

.row :last-child {
  margin-left: 10px;
}
